.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.15s;
}

.todo-item:hover {
  background-color: rgba(244, 244, 245, 0.5);
}

.todo-item:hover .delete {
  visibility: visible;
}

.label {
  height: 48px;
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  min-width: 0;
}

.text {
  flex: 1;
  line-height: 1;
  font-weight: 500;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text.checked {
  text-decoration: line-through;
}

.delete {
  visibility: hidden;
  background-color: rgb(220, 38, 38);
  margin: 0.5rem;
  border: none;
  box-shadow: none;
}

.delete:hover {
  background-color: rgba(220, 38, 38, 0.9);
}
