.button {
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background-color: rgb(24, 24, 27);
  color: rgb(250, 250, 250);
  cursor: pointer;
  transition: background-color 0.15s;
}

.button:hover {
  background-color: rgba(24, 24, 27, 0.9);
}
