.container {
  width: 100%;
  height: 100%;
  max-width: 980px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.title {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: rgb(9, 9, 11);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
